<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% trans "Resume" %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
<link rel="stylesheet" href="{% static "css/resume.css" %}">
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73422963-1', 'auto');
    ga('send', 'pageview');

</script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">{% trans "Toggle Navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
    {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
</div>
<div class="navbar-collapse collapse">
    {% search_form "all" %}
    {% page_menu "pages/menus/dropdown.html" %}
</div>
</div>
</div>

<div class="container">

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

<h1>{% trans "Resume" %}</h1>

<ul class="breadcrumb">
</ul>

</div>

<div class="container">
<div class="row">

<div class="col-md-2 left">
    {% block left_panel %}
    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
</div>

<div class="col-md-10 middle">
	<span>Download as: </span>
	{% for format in supported_formats %}
	<a href="api/?format={{ format }}">{{ format }}</a>&nbsp;&nbsp;
	{% endfor %}
<div class="section row">
	<div class="col-sm-8 left">
		<h1 class="resume">{{ info.name }}</h1>
	</div>
	<div class="contact-info col-sm-4 right">
		<div class="pull-right-sm">
            {{ info.phone_number }}<br />
            <a href="mailto:{{ info.email }}">
			{{ info.email }}</a>
        </div>
	</div>
</div>
<div class="section row">
	<div class="col-sm-3 left">
		<h2 class="resume">Interests</h2>
	</div>
	<div class="col-sm-9 right">
		{% for interest in interests %}
		<span class="key">
			{{ interest.description }}
		</span> 
		{% endfor %}
	</div>
</div>
<div class="section row">
	<div class="col-sm-3 left">
		<h2 class="resume">Skills</h2>
	</div>
	<div class="col-sm-9 right">
		{% for skill in skillset %}
		{% for s in skill.skills %}
		{{ s.value }}
		{% if not forloop.last %}
		,&nbsp;
		{% endif %}
		{% endfor %}
		<br />
		{% endfor %}
	</div>
</div>
<div class="section row">
	<div class="col-sm-3 left">
		<h2 class="resume">Experience</h2>
	</div>
	<div class="col-sm-9 right">
	{% for experience in employment %}
		<h3 class="resume">{{ experience.company }}</h3>
        <div class="row">
		    <div class="col-sm-6 left light">
        		{{ experience.title }}
	    	</div>
		    <div class="col-sm-6 right light">
                <div class="pull-right-sm">
	    		    {{ experience.start_date|date:"F Y" }} - 
		    		{% if experience.end_date == None %}
			    	Present
				    {% else %}
	    			{{ experience.end_date|date:"F Y" }}
		    		{% endif %}
		        </div>
		    </div>
        </div>
		<div class="heavy">{{ experience.summary }}</div>
		<ul class="desc">
			{% for responsibility in experience.responsibilities %}
			<li>{{ responsibility.description }}</li>
			{% endfor %}
		</ul>
	{% endfor %}
	</div>
</div>
<div class="section row">
	<div class="col-sm-3 left">
		<h2 class="resume">Education</h2>
	</div>
	{% for edu in education %}
	<div class="col-sm-9 right">
		<h3 class="resume"><span class="emph">{{ edu.degree }}</span > in {{ edu.concentration }}</h3>
		<div class="heavy">{{ edu.school }}</div>
		<div class="row">
			<div class="col-sm-6 left light">
				{{ edu.location }}
			</div>
			<div class="col-sm-6 right light">
                <div class="pull-right-sm">
					{{ edu.start_date|date:"F Y" }} - 
					{% if edu.end_date == None %}
					Present
					{% else %}
					{{ edu.end_date|date:"F Y" }}
					{% endif %}
                 </div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
</div>

</div>
</div>

<footer>
<div class="container">
{% page_menu "pages/menus/footer.html" %}

<div class="row">
<p class="site-info text-center">
    {% trans "Powered by" %}
    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
    {% trans "and" %}
    <a href="http://www.djangoproject.com">Django</a>
    <span class="separator">|</span>
    {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
    {% ifinstalled mezzanine.mobile %}
    <span class="separator">|</span>
    <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
    {% endifinstalled %}
</p>
</div>
</div>
</footer>

{% include "includes/footer_scripts.html" %}

</body>
</html>
