<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ info.name }} - Resume</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73422963-1', 'auto');
    ga('send', 'pageview');

    </script>
	</head>
	<body style="padding-top: 65px">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
<div class="col-md-10 middle">
        <span class="navbar-brand">Download as:</span>
<ul class="nav navbar-nav">
        {% for format in supported_formats %}
          <li><a href="api/?format={{ format }}">{{ format }}</a></li>
        {% endfor %}
</ul>
      </div>
</div>
    </div>
    {% include 'resume_base.html' %}
	</body>
</html>
