		<div class="page">
			<div class="section row">
				<h1 class="col">{{ info.name }}</h1>
				<div class="contact-info col-right">
					<div><a href="tel:+1-{{ info.phone_number }}">
						{{ info.phone_number }}</a></div>
					<div><a href="mailto:{{ info.email }}">
						{{ info.email }}</a></div>
				</div>
			</div>
			<div class="section row">
				<h2 class="col">Interests</h2>
				<div class="section-text col-right">
					{% for interest in interests %}
					<span class="key">
						{{ interest.description }}
					</span> 
					{% endfor %}
				</div>
			</div>
			<div class="section row">
				<h2 class="col">Skills</h2>
				<div class="section-text col-right row">
					{% for skill in skillset %}
					<li class="skillset">
					{% for s in skill.skills %}
					{{ s.value }}{% if not forloop.last %},&nbsp;{% endif %}
					{% endfor %}
					</li>
					{% endfor %}
					</ul>
				</div>
			</div>
			<div class="section row">
				<h2 class="col">Experience</h2>
				<div class="section-text col-right">
				{% for experience in employment %}
					<div class="row">
						<div class="col">
							<h3>{{ experience.company }}</h3>
						</div>
					</div>
					<div class="row subsection">
						<div class="emph col">{{ experience.title }}</div>
						<div class="col-right light">{{ experience.start_date|date:"F Y" }} - 
							{% if experience.end_date == None %}
							Present
							{% else %}
							{{ experience.end_date|date:"F Y" }}
							{% endif %}
						</div>
					</div>
					<div class="row subsection">{{ experience.summary }}</div>
          {% if experience.responsibilities|length != 0 %}
          <div class="row subsection">Responsibilities</div>
					<ul class="desc">
						{% for responsibility in experience.responsibilities %}
						<li>{{ responsibility.description }}</li>
						{% endfor %}
					</ul>
          {% endif %}
          {% if experience.achievements|length != 0 %}
          <div class="row subsection">Accomplishments</div>
					<ul class="desc">
						{% for achievement in experience.achievements %}
						<li>{{ achievement.description }}</li>
						{% endfor %}
					</ul>
          {% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="section row">
				<h2 class="col">Education</h2>
				{% for edu in education %}
				<div class="section-text col-right">
					<h3><span class="emph">
						{{ edu.degree }}</span>
						in {{ edu.concentration }}</h3>
					<div>{{ edu.school }}</div>
					<div class="row">
						<div class="col light">
							{{ edu.location }}
						</div>
						<div class="col-right light">
							{{ edu.start_date|date:"F Y" }} - 
							{% if edu.end_date == None %}
							Present
							{% else %}
							{{ edu.end_date|date:"F Y" }}
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
