<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ info.name }} - Resume</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
	</head>
	<body>
    {% include 'resume_base.html' %}
	</body>
</html>
