{% load embed_css %}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ info.name }} - Resume</title>
    {% load_css 'css/style.css' %}
	</head>
	<body>
    {% include 'resume_base.html' %}
	</body>
</html>
