{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>Projects</h2>
<div class="col-sm-6 left">
<div class="card card-inverse" style="background-color: #333; border-color: #333;">
	<div class="card-block">
		<h3 class="card-title">Codinghipster</h3>
		<p class="card-text">This website</p>
		<a href="#" class="btn btn-primary">Fork on Github</a>
	</div>
</div>
</div>
<div class="col-sm-6 left">
<div class="card card-inverse" style="background-color: #333; border-color: #333;">
	<div class="card-block">
		<h3 class="card-title">Codinghipster</h3>
		<p class="card-text">This website</p>
		<a href="#" class="btn btn-primary">Fork on Github</a>
	</div>
</div>
</div>
{% endblocktrans %}
{% endblock %}
