h1.resume,
h2.resume,
h3.resume {
	margin-top: 0px;
}
.key:first-child::before {
	content: ''
}
.section {
	border-bottom: 1px solid #ddd;
	padding: 10px 0 15px;
}
.key:first-child {
	margin-left: 0
}
.key {
	margin: 0 10px;
	position: relative;
}
.key::before {
	content: '◆';
	position: absolute;
	left: -15px;
	color: #555;
	font-size: 7pt;
}
.key:first-child::before {
	content: '';
}
.section {
	border-bottom: 1px solid #ddd;
	padding: 10px 0 15px;
}
.section:last-child {
	border: none;
}
.section-text {
	width: 80%;
	font-size: 18px;
	line-height: 24px;
	margin: 10px 0 10px;
	padding: 0 10px;
}
.emph {
	font-style: italic;
}
.light {
	color: #AAA;
	font-size: 14px;
	line-height: 28px;
	text-transform: uppercase;
}
.heavy {
	font-size: 15px;
	font-style: italic;
	padding-bottom: 5px;
}
@media (min-width: 768px) {
	.pull-right-sm {
		float: right;
	}
}
